@use '_mixins.scss' as *;
@use '_variables.scss' as *;
@import '~bootstrap/scss/bootstrap';

a {
    color:inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    list-style-type: none;
}


header {

    #header-top {
        font-weight: bold;
        font-size: 11px;
        text-align: right;
        text-transform: uppercase;
        background-color: $skyblue;

        a {
            color: white;
            
            &:nth-child(2) {
                padding-left: 2rem;
            }
        }

    }
    
    .container-btm {
        @include centerFlex();
        
        height: 5rem;
        
        * {
            @include centerFlex();
            height: 100%;
        }

        #header-left {
            padding: .8rem 0;

            img {
                cursor: pointer;
            }
        }

        #header-center {

            ul {
                gap: 2rem;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }

            li {
                border-bottom: 4px solid transparent;
                transition: 0.1s;
                a {
                    color: black;
                }
            }

            li:hover {
                border-bottom: 4px solid $skyblue;
                cursor: pointer;
            }

        } 

        #header-right {
            padding: 1.8rem 0;
        }

    }
}

#jumbotron {
    min-height: 280px;

    background-image: url("../img/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    position: relative;

    padding: 3rem 0 2rem;

    text-align: center;
    color: white;
    background-color: $dark-grey;

    #current-series-label {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(30%, -50%);
        
        padding: .3em 1em;

        text-transform: uppercase;
        color: white;
        background-color: $skyblue;
        }

    #current-series-container {

        .current-series {
    
            img {
                aspect-ratio: 1;
                object-position: top;
                object-fit: cover;
    
                cursor: pointer;
            }
    
            .title {
                font-size: .8em;
                text-align: left;
                text-transform: uppercase;
            }
    
            .title:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

    }

    button {
        padding: .5em 3em;
        
        text-align: center;
        text-transform: uppercase;
        border: none;
        color: white;
        background-color: $skyblue;
        cursor: pointer;
    }

    #comic {
        aspect-ratio: 1;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

}

#buy-comics-section {
    height: 8rem;
    color: white;
    background-color: $skyblue;

    * {
        height: 100%;
    }

    .container {

        ul {
            @include centerFlex();
        }
    
        li {
            @include centerFlex();
            justify-content: flex-start;
            gap: .5em;
    
            font-size: 13px;
            text-transform: uppercase;
    
            img {
                height: 35%;
            }

        }

        li:last-child img {
            width: 25%;
        }
    }

}

footer {

    #footer-top {
        background-image: url("../img/footer-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    
        .container {
            position: relative;
            overflow-y: hidden;
    
            height: 380px;
    
            #footer-center-links {
                display: flex;
                flex-flow: column wrap;
                align-content: flex-start;
                gap: 1rem;
    
                height: 100%;
                padding: 2rem 0;
    
                #footer-center-link {
    
                    h2 {
                        padding-bottom: .5rem;
                        font-size: large;
                        text-transform: uppercase;
                        color: white;
                    }
    
                    ul {
                        padding: 0;
    
                        li a {
                            font-size: smaller;
                            color: $lighter-gray;
        
                            transition: 0.1s;
                        }
        
                        li a:hover {
                            color: white;
                        }
                    }
        
                }
    
            }
    
            #footer-center-logo {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 0;
            }
    
        }

    }

    #footer-bottom {

        background-color: $mid-dark-grey;

        .container{

            @include centerFlex();
    
            padding: 1.5rem;
    
            #footer-bottom-left {
    
                button {
                    padding: .7rem;
                    border: 2px solid $skyblue;
    
                    color: white;
                    background-color: transparent;
                    cursor: pointer;
    
                    transition: 0.2s;
                }
    
                button:hover {
                    background-color: $skyblue;
                }
    
            }
    
            #footer-bottom-right {
                @include centerFlex();
                gap: .7rem;
    
                .text {
                    font-weight: bold;
                    color: $skyblue;
                }
    
                .icons {
                    @include centerFlex();
                    gap: .3rem;
    
                    img {
                        transform: scale(0.75);
                        cursor: pointer;
                    }
    
                }
            }
        }
    }

}

